
@{
    ViewBag.Title = "Start";
}

   <!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Admin panel</h3>
    </div>
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-4 col-sm-6 ">
        <div class="thumbnail">
            <br />
 <i class="fa fa-users fa fa-4x"></i>
            <div class="caption">
                <h3>Kundekartotek</h3>
                <p>Gå til kundekartotek</p>
                <p>
                    <div class="btn btn-default">
                        @Html.ActionLink("Opret kunde", "Create", "Kunde")
                    </div>

                    <div class="btn btn-default">
                        @Html.ActionLink("Se kundeliste", "Index", "Kunde")
                    </div>
                 
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 ">
        <div class="thumbnail">
            <br />
            <i class="fa fa-shopping-cart fa fa-4x"></i>
            <div class="caption">
                <h3>Produktkatalog</h3>
                <p>Gå til produktkatalog</p>
                <p>
                   

                    <div class="btn btn-default">
                        @Html.ActionLink("Opret produkt", "Create", "Produkt")
                    </div>

                    <div class="btn btn-default">
                        @Html.ActionLink("Se produktkatalog", "Index", "Produkt")
                    </div>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 ">
        <div class="thumbnail">
            <br />
            <i class="fa fa-file-image-o fa fa-4x"></i>
            <div class="caption">
                <h3>Reklame API</h3>
                <p>Gå til reklamer</p>
                <p>
                    <div class="btn btn-default">
                        @Html.ActionLink("Håndter reklamer", "Create", "Reklame")
                    </div>

                    <div class="btn btn-default">
                        @Html.ActionLink("Se reklamer", "Index", "Reklame")
                    </div>
                </p>
            </div>
        </div>
    </div>

  </div>



<!-- /.row -->

