@model projectShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_category)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Tilbage", "Index")
</p>
